<section class="header-section">
    <div class="header">
    <nav>
        <ul class="parentMenu">
            <li><a routerLink="/hrms" routerLinkActive="active">HRMS</a>
                <ul class="childMenu1">
                    <li><a routerLink="/hrms/time-tracker">Time Tracker</a>
                        <ul class="childMenu2">
                            <li><a routerLink="/hrms/time-tracker/time-log">Time Log</a>
                                <ul class="childMenu3">
                                    <li><a routerLink="/hrms/time-tracker/time-log/current-time">Current Time Log</a></li>
                                    <li><a routerLink="/hrms/time-tracker/time-log/updated-time">Updated Time Log</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/hrms/time-tracker/time-sheet">Time-sheet</a></li>
                            <li><a routerLink="/hrms/time-tracker/request-extra-staffing">Request Extra Staffing</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/hrms/company-policy">Company Policy</a></li>
                    <li><a routerLink="/hrms/leave-management">Leave Management</a>
                        <ul class="childMenu2">
                            <li><a routerLink="/hrms/leave-management/leaves">Leaves</a></li>
                            <li><a routerLink="/hrms/leave-management/leave-report">Leave Report</a></li>
                        </ul></li>
                    <li><a routerLink="/hrms/payroll">Payroll</a>
                        <ul class="childMenu2">
                            <li><a routerLink="/hrms/payroll/salary-slip">Salary Slip</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/hrms/holiday-management">Holiday Management</a></li>
                </ul>
            </li>
            <li><a routerLink="/psd-mgmt">Password Management</a>
                <ul class="childMenu1">
                    <li><a routerLink="/password-management">Password Management</a></li>
                </ul>
            </li>
            <li><a routerLink="/toggle">Toggle</a>
                <ul class="childMenu1">
                    <li><a routerLink="/toggle-report">Toggle Report</a></li>
                    <li><a routerLink="/toggle-dashboard">Toggle Dashboard</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</section>