/* .header{
    padding-left: 100px;    
} */

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
nav .parentMenu>li{
    display: inline-block;
}
nav a{
    margin: 0;
    text-align: left;
    padding: 12px 12px;
    background-color: #f4f4f4;
    color: blueviolet;
    text-decoration: none;
    display: block;
    position: relative;
}
nav li:hover>a{
    background-color:  #cceeff;
}
nav .childMenu1,
nav .childMenu2,
nav .childMenu3{
    position: absolute;
    display: none;
}
nav .parentMenu>li:hover .childMenu1,
nav .childMenu1>li:hover .childMenu2,
nav .childMenu2>li:hover .childMenu3{
    display: block;
}
.active .childMenu1{
    display: block;
}
nav .childMenu1 li{
    position: relative;
}
nav .childMenu2{
    top: 0;
    right: 0;
    transform: translate(100%,0);
}
nav .childMenu3{
    top: 0;
    right: 0;
    transform: translate(100%,0);
}
/* nav .childMenu1>li:hover .childMenu2{
    display: block;
} */