<h3>Time Log</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut consequuntur vitae est porro quas provident at, molestiae numquam dolorum deleniti reprehenderit ab sequi possimus harum hic? Nihil, itaque porro fugiat inventore ut natus omnis officiis cupiditate libero. Molestias cum est sequi at dignissimos eveniet quibusdam praesentium quaerat quia magnam cupiditate ut maxime ipsa quidem illo ipsum repellendus reprehenderit, quos labore natus doloribus dicta aspernatur eligendi vero? Eum odit cupiditate magni totam adipisci, sint a, numquam dicta cum voluptatum commodi illo consectetur!</p>
<router-outlet></router-outlet>